#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.projectHeader {
  padding: 2em;
}


.mainContainer {
  background-color: #fff;
  max-width: 960px;
  margin: 20px auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 20;
}

.newNoteButton {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 10px 20px;
  background-color: #0A5C36;
  color: white;
  border: 2px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
}

.stickyNotes {
  z-index: 5;
  cursor: cell;
}