#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.projectHeader {
    padding: 2em;
}

.projectItems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

