#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.projectHeader {
    padding: 2em;
}

.projectItems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.mainContainer {
    background-color: #fff;
    max-width: 960px;
    margin: 20px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

